/Factory/PizzaTestDrive/nbproject/private/
/Factory/PizzaTestDrive/build/
/Abstract Factory/PizzaTestDrive/nbproject/private/
/Abstract Factory/PizzaTestDrive/build/
/Factory/CarFactory/nbproject/private/
/Factory/CarFactory/build/
/Abstract Factory/CarFactory/nbproject/private/
/Abstract Factory/CarFactory/build/
/Singleton/nbproject/private/
/Command/nbproject/private/
/Command/build/
/Singleton/Singleton/nbproject/private/
/Nova pasta/Command/build/
/Nova pasta/Command/nbproject/private/
/Command/RemoteControl/build/
/Command/RemoteControl/nbproject/private/
/Adapter/Adapter/nbproject/private/
/Adapter/Adapter/build/
/Facade/Facade/nbproject/private/
/Facade/HomeTheater/nbproject/private/
/Facade/HomeTheater/build/